@charset "UTF-8";

@media (min-width: 992px) {
    #quadro{
        margin-top: -1px;
    }
}
.panel{
    padding: 8px 5px 8px 25px;
    background-color: #fff;
    box-shadow: 20px 30px 50px #808080;
    border-left: 5px solid #0066CC;
}
#quadro{
    background-color: #0066CC;
    color: #fff;
}
button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#tabela1{
    background-color: #fff;
    box-shadow: 20px 10px 50px #808080;
    margin-right: 10px;
}

th, td{
    text-align: center;
}